body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
